body {
    background-image: url(pexels-polina-zimmerman-3747455.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

form {
    flex: 1 1 0px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: rgba(211, 211, 211, 0.794);
    padding: 32px 96px;
    border-radius: 8px;
}

.formImg {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.companyName {
    margin-left: 24px;
    color: white;
    text-shadow: 2px 2px 5px;
    font-size: 64px;
}

.logoDiv {
    flex: 2 1 0px;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    top: 0;
    left: 0;
}

label,
input,
select,
textarea {
    margin-bottom: 16px;
}

select {
    font-size: 20px;
}

.submit-button {
    width: 100px;
    height: 40px;
    font-size: 24px;
    color: white;
    background-color: orangered;
    border-radius: 12px;
}

.inscriere {
    font-size: 36px;
    font-weight: 700px;
}